<%- content_for :main_class %>

<h1>Edit <%= resource_name.to_s.humanize %></h1>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>
      Currently waiting confirmation for: <%= resource.unconfirmed_email %>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i>
    <%= f.password_field :password, autocomplete: "off" %>
    <% if @minimum_password_length %>
      <div><em><%= @minimum_password_length %> characters minimum</em></div>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i>
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Update", class: 'action --continue' %>
  </div>
<% end %>

<h2><%= t('stripe_connections.heading') %></h2>
<%- if current_user.stripe_connections.empty? %>
  <p class="notification --alert"><%= t('stripe_connections.no_connections_warning') %></p>
<%- end %>
<%- current_user.stripe_connections.each do |stripe_connection| %>
  <p>
  <%= stripe_connection.display_name %> (<%= stripe_connection.business_name %>).
  <%= t('stripe_connections.account_owner_statement_descriptor_explanation',
        statement_descriptor: stripe_connection.statement_descriptor) %>
      <%= link_to(t('stripe_connections.disconnect_button'),
                  stripe_connection_path(stripe_connection), method: :delete, type: 'button', class: "--cancel") %>
  </p>
<%- end %>
<div class="actions">
  <%= link_to(t('stripe_connections.connect_button'), '/auth/stripe_connect', class: 'action --continue', type: 'button') %>
</div>

<%- if Nourish::Slack.enabled? %>
  <h2><%= t('slack_teams.heading') %></h2>
  <%- if current_user.slack_teams.empty? %>
    <p class="notification --alert"><%= t('slack_teams.no_connections_warning') %></p>
  <%- end %>
  <%- current_user.slack_teams.each do |slack_team| %>
    <p><%= slack_team.name %> (<%=slack_team.domain%>)
    <%= link_to(t('slack_teams.disconnect_button'),
                slack_team_path(slack_team), method: :delete, type: 'button', class: "--cancel") %></p>
  <% end %>
  <div class="actions">
    <%= link_to(t('slack_teams.connect_button'), '/auth/slack', class: 'action --continue', type: 'button') %>
  </div>
<% end %>

<h2>Cancel my account</h2>

<div class="actions">
  <%= button_to "Cancel my account", registration_path(resource_name),
    data: { confirm: "Are you sure?" }, method: :delete, class: 'action --cancel' %>
</div>
