<h1>Approve <%= project.title %>?</h1>
<p><%= project.summary %></p>
<%= form_for(approval,
             url: project_approvals_url(project: project),
             html: { data: { type: "project-status-change-form" } }) do |form| %>
  <div class="fields">
    <%= form.label :reason, t('approving_project.reason_field') %>
    <%= form.text_area :reason %>
  </div>

  <div class="actions">
    <%= form.submit(t('approving_project.complete'), class: 'action --primary') %>
    <%= link_to t('approving_project.cancel'), pending_projects_path, class: "action --cancel", type: 'button' %>
  </div>
<% end %>
