<%= form_for project do |form| %>
  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :summary %>
    <%= form.text_field :summary %>
  <div>

  <div class="actions">
    <%= form.submit class: 'action --continue' %>
  </div>
<% end %>
