<div class="project-summary" data-id="<%= project.id %>" data-type="project"
                             data-status="<%= project.status %>">
  <h<%= heading_level %> class="title"><%= project.title %></h<%= heading_level%>>
  <p class="summary"><%= project.summary %></p>
  <div class="actions">
    <%= link_to(t('contributing_to_project.begin'), new_project_contribution_path(project)) %>
    <% if (current_user.instance_admin?) && project.pending? %>
      <%= link_to(t('approving_project.begin'),
                    new_project_approval_path(project),
                    { class: 'action --continue', type: 'button', data: { action: "begin-approval" } }) %>
      <%= link_to(t('rejecting_project.begin'),
                    new_project_rejection_path(project),
                    { class: 'action --cancel', type: 'button',
                      data: { action: "begin-rejection" } }) %>
    <% end %>
  </div>
</div>
