<div class="project-summary" data-id="<%= project.id %>" data-type="project"
                             data-status="<%= project.status %>">
  <h<%= heading_level %> class="title"><%= project.title %></h<<%= heading_level%>>
  <p class="summary"><%= project.summary %></p>
  <div class="actions">
    <% if (current_user.instance_admin?) && project.pending? %>
      <%= link_to(t('approving_project.begin'),
                    new_pending_project_project_approval_path(project),
                    { data: { action: "begin-approval" } }) %>
      <%= link_to(t('rejecting_project.begin'),
                    new_pending_project_project_rejection_path(project),
                    { data: { action: "begin-rejection" } }) %>
    <% end %>
  </div>
</div>
