<p><%= t('shared.mail.greeting') %></p>

<p><%= t('project_status_change_mailer.approved.preamble') %></p>

<p><%= approval.reason %></p>

<p><%= t('project_status_change_mailer.approved.conclusion') %></p>

<p><%= t('shared.mail.signature') %></p>

