<p><%= t('shared.mail.greeting') %></p>

<p><%= t('project_status_change_mailer.rejected.preamble') %></p>

<p><%= rejection.reason %></p>

<p><%= t('project_status_change_mailer.rejected.conclusion') %></p>

<p><%= t('shared.mail.signature') %></p>
