<p><%= t('shared.mail.greeting') %></p>

<p><%= t('preamble', status_change: status_change) %></p>

<p><%= status_change.reason %></p>

<p><%= t('conclusion', status_change: status_change) %></p>

<p><%= t('shared.mail.signature') %></p>

