<!DOCTYPE html>
<html>
  <head>
    <title>NourishParty</title>
    <%= csrf_meta_tags %>

    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'application' %>
  </head>

  <body>
    <header>
      <% if current_user %>
        <div class='.whoami'>
          Hi, <%= current_user.email %>
        </div>
      <% end %>
      <nav>
        <%= link_to t('shared.links.browse_projects'), root_path %>
        <% if current_user %>
          <% if current_user.instance_admin? %>
            <%= link_to t('moderation.shared.links.pending_projects'), moderation_pending_projects_path %>
            <%= link_to t('moderation.shared.links.project_status_changes'),
              moderation_project_status_changes_path %>
          <% end %>
          <%= link_to t('devise.shared.links.sign_out'), destroy_user_session_path, method: :delete %>
        <% else %>
          <%= link_to t('devise.shared.links.sign_in'), new_user_session_path %>
          <%= link_to t('devise.shared.links.sign_up'), new_user_registration_path %>
        <% end %>
      </nav>
    </header>

    <main class="<%= yield(:main_class).present? ? yield(:main_class) : '--primary-layout' %>">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </main>
  </body>
</html>
