<!DOCTYPE html>
<html>
  <head>
    <title>NourishParty</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <% if current_user %>
        Hi, <%= current_user.email %>
      <% else %>
        <%= link_to t('devise.shared.links.sign_in'),new_user_session_path %>
        <%= link_to t('devise.shared.links.sign_up'),new_user_registration_path %>
      <% end %>
    </header>

    <main>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </main>
  </body>
</html>
