<!DOCTYPE html>
<html>
  <head>
    <title>NourishParty</title>
    <%= csrf_meta_tags %>

    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'application' %>
  </head>

  <body>
    <header>
      <% if current_user.registered? %>
        <div class='.whoami'>
          Hi, <%= current_user.email %>
        </div>
      <% end %>
      <nav>
        <%= link_to t('shared.links.browse_projects'), root_path %>
        <% if current_user.registered? %>
          <% if current_user.projects.present? %>
            <%= link_to t('shared.links.my_projects'), my_projects_path %>
          <% end %>
          <% if current_user.instance_admin? %>
            <%= link_to t('shared.links.pending_projects'), pending_projects_path %>
            <%= link_to t('shared.links.project_status_changes'), project_status_changes_path %>
          <% end %>
          <%= link_to t('shared.links.settings'), edit_registered_user_registration_path %>
          <%= link_to t('devise.shared.links.sign_out'), destroy_registered_user_session_path, method: :delete %>
        <% else %>
          <%= link_to t('devise.shared.links.sign_in'), new_registered_user_session_path %>
          <%= link_to t('devise.shared.links.sign_up'), new_registered_user_registration_path %>
        <% end %>
      </nav>
    </header>

    <main class="<%= yield(:main_class).present? ? yield(:main_class) : '--primary-layout' %>">
      <%- if flash.key?(:notice) %>
        <p class="notification --notice"><%= notice %></p>
      <% end %>

      <%- if flash.key?(:alert) %>
        <p class="notification --alert"><%= alert %></p>
      <% end %>
      <%= yield %>
    </main>
  </body>
</html>
