<table data-type="moderator-actions">
  <tr>
    <th>Time of Action</th>
    <th>Moderator</th>
    <th>Summary</th>
  </tr>
  <%- moderator_actions.each do |moderator_action| %>
    <tr data-id="<%= moderator_action.id %>" data-type="moderator-action">
      <td data-type="taken-at"><%= moderator_action.created_at %></td>
      <td data-type="moderator"><%= moderator_action.moderator.email %></td>
      <td data-type="summary">
        <%= moderator_action.action %>
        <%= moderator_action.object.title %>
        &mdash;
        <%=moderator_action.reason %>
      </td>
    </tr>
  <% end %>
</table>

